body {
  color: rgb(228, 206, 206);
  background-color: rgb(143, 48, 48);
}

#firstList {
border: 2px solid rgb(32, 57, 182);
}

.lists {
  color: rgb(21, 53, 64);
}

.Seasons > li {
  color: rgb(13, 65, 13)
}
